body {
  padding-top: 80px;
}

header h2 {
  margin-left: 25px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgb(231, 237, 248);
  padding-inline: 30px;
  padding-block: 10px;
  font-size: large;
  margin-top: 20px;
}

form, fieldset {
  border-radius: 10px;
}

.slot {
  display: flex;
  margin-bottom: 8px;
}

label {
  width: 150px;
}
legend {
  font-size: small;
  font-weight: 500;
  margin-bottom: 20px;
}

input, textarea {
  padding: 5px;
  width: 100%;
  max-width: 500px;
  margin-left: 3px;
  color: #1c1d77;
  font-family: inherit;
  border-radius: 3px;
  border: none;
  font-size: large;
}


button {
  font-family: inherit;
  font-size: large;
  font-weight: bold;
  background: linear-gradient(90deg, #a70616 10.18%, #1512b9 100%);
  cursor: pointer;
  transition: background 0.5s ease-in-out;
  color: white;
  border: none;
  padding: 10px;
  max-width: 200px;
  align-self: center;
  margin-top: 10px;
  border-radius: 5px;
}

button:hover {
  background: linear-gradient(70deg, #1512b9 10.18%, #a70616 100%);
}

button:active {
  opacity: 0.9;
}