:root {
  --background-color: #ffffff; /* Light mode background */
  --text-color: #000000;       /* Light mode text color */
  --inline-padding: 5px;
  --form-color: rgb(231, 237, 248);
  --svg-fill: #1d0303;
  --big-text-color: #2f0682;
  --scroll-bar-color: rgb(2, 9, 116);
  --scroll-bar-background: #ffffff;
  --scroll-bar-hover: rgb(1, 7, 82);
}

[data-theme='dark'] {
  --background-color: #181818; /* Dark mode background */
  --text-color: #ffffff;       /* Dark mode text color */
  --form-color: rgb(19, 28, 46);
  --svg-fill: #ffffff;
  --big-text-color: #208bfe;
  --scroll-bar-color: rgb(238, 239, 243);
  --scroll-bar-background: #626161;
  --scroll-bar-hover: #868484 ;
}

/* Width of the entire scrollbar */
::-webkit-scrollbar {
  width: 8px;
  transition: background-color 0.3s;
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: var(--background-color); /* Light gray */
  transition: background-color 0.3s;
}

/* Scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-color); /* Darker gray */
  border-radius: 3px; /* Rounded edges */
  transition: background-color 0.3s;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-hover); /* Even darker gray on hover */
  transition: background-color 0.3s;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Poppins", "Roboto Mono", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 55px;
  padding-inline: none;
  margin: none;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  background-color: var(--background-color);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.742);
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto Mono', "Poppins", "Roboto Mono", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  z-index: 200;
}

main {
  max-width: 800px;
}

a {
  color: inherit;
  text-decoration: none;

}
.home {
  margin-left: 45px;
  margin-right: auto;
}

.navbar {
  display: flex;
  align-self: flex-end;
  z-index: 200;
  width: auto;
  margin-right: 15px;
}

.navbar h3 {
  padding: 10px;
  padding-block: 0;
  
}

.intro {
  margin-top: 30px;
  padding-inline: var(--inline-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: auto;
}

.hi {
  margin-block: 8px;
  font-size: 3em;
  font-weight: 600;
}

.hi2 {
  color: var(--big-text-color);
}

.brief_desc {
  margin-block: 1em;
  max-width: auto;
}

.Resume {
  display: flex;
  flex: 1;
  margin-top: 30px;
  margin-bottom: 55px;
  max-width: auto;
}

.resume {
  margin-right: auto;
  flex: 2;
}

.hire-me {
  flex: 1;
}

.res {
  margin-inline: 5vw;

}

.resume,
.hire-me {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: linear-gradient(90deg, #a70616 10.18%, #1512b9 100%);
  color: white;
  border-radius: 1px;
  cursor: pointer;
  transition: background 0.5s ease-in-out, border-radius 0.2s ease-in-out;
}

.resume:hover,
.hire-me:hover {
  background: linear-gradient(70deg, #1512b9 10.18%, #a70616 100%);
  border-radius: 3px;
 
}

.resume:active,
.hire-me:active {
  opacity: 0.9;
}

.socials {
  list-style-type: none;
  display: flex;
  margin-bottom: 6px;
  margin-top: 10px;
  justify-content: center;
}

.social-media-links {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center align the items */
}

.social-media-links li {
  margin: 0 15px; /* Margin between each icon */
  
}

.social-media-links a {
  color: #110101; /* Icon color */
  font-size: 24px; /* Icon size */
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s; /* Smooth color transition */
}



.social-media-links svg {
  width: 2rem;
  height: 2rem;
  fill: var(--svg-fill);
  transition: fill 0.3s;
}

/* .social-media-links a:hover svg {
  fill: #065485;
} */

.social-media-links .twitter:hover svg {
  fill: #6bb9eb; /* Change icon color on hover */
}

.social-media-links .linkedin:hover svg {
  fill: #280887; /* Change icon color on hover */
}

.social-media-links .github:hover svg{
  fill: #c507ae; /* Change icon color on hover */
}

.technologies {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding-inline: var(--inline-padding);
  background-color: rgba(20, 101, 242, 0.059);
  padding-bottom: 20px;
}

.technology {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

ul {
  list-style-type: none;
}

.featured-works {
  display: flex;
  flex-direction: column;
  padding-inline: var(--inline-padding);
  padding-block: 10px;
  margin-bottom: 40px;
  /* justify-content: center; */
}

.project h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.meme-gen {
  max-width: auto;
}


.icon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between !important;
  font-family: 'Roboto Mono', "Poppins", "Roboto Mono", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.contact-me {
  padding-inline: var(--inline-padding);
  display: flex;
  background-color: rgba(240, 235, 235, 0.299);
  padding-bottom: 30px;
  justify-content: center;
}

/* .email {
  background-color: #d4dddf;
  padding: 2px;
} */

.contact {
  margin-right: 50px;
}

.contacting {
  display: flex;
  justify-content: center;
}

.contacting svg {
  height: 3rem;
  width: 3rem;
}


.contact-type {
  display: flex;
  justify-content: center !important;
}

.contact-type div {
  align-self: center;
}

/* .meme-gen {
  
} */

.project {
  display: flex;
  flex-direction: column;
}

.project-profile {
  display: flex;
}

.project-preview {
  flex: 1;
}

.project-summary{
  flex: 3;
  margin-left: 5px;
}

.profile-pic {
  width: 100%;
  height: auto;
  margin-right: 5px;
}

footer {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: small;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto Mono', "Poppins", "Roboto Mono", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
}