@media (min-width:300px) and (max-width: 600px) {
  main {
    max-width: 100% !important;
  }

  form {
    padding-inline: 2px;
    width: auto;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333;
  }
} */